<h1>Calculate your freaking shipping cost!!</h1>

<form action="/results">
  <div class="form-group">
    <label for="length">Length</label>
    <input id="length" name="length" class="form-control">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input id="width" name="width" class="form-control">
  </div>
  <div class="form-group">
    <label for="depth">Depth</label>
    <input id="depth" name="depth" class="form-control">
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input id="weight" name="weight" class="form-control">
  </div>
  <div class="form-group">
    <label for="speed">Speed</label>
    <input id="speed" name="speed" class="form-control">
  </div>
  <div class="form-group">
    <label for="distance">Distance</label>
    <input id="distance" name="distance" class="form-control">
  </div>

  <button type="submit" class="btn btn-danger">Submit</button>
</form>
